numeric_id: 12234949781109786614      # numeric ID to emulate
start_nonce: 0                        # start_nonce for emulation
secret_phrase: 'sent innocent black neighbor nose cruel surround puff marry around dumb warn'    # empty for pool, passphrase for Burst solo
blocktime: 240                        # needed for capacity estimate 

url: 'http://localhost:8125'

cpu_threads: 0                        # default 0 (=cpu disabled)
cpu_task_size: 262144                 # default 262144, value in nonces

gpus:                                 # default [0,0,0] (platform id, device id, number of cores)
  - [0,0,0]

target_deadline: 18446744073709551615 # default 18446744073709551615 (Max)

get_mining_info_interval: 1000        # default 1000ms
timeout: 3000                         # default 3000ms
send_proxy_details: true              # default true
#additional_headers:                  # add/overwrite html headers (optional)
#  "AccountKey" : "1234567890"

console_log_level: 'info'             # default Info, options (off, error, warn, info, debug, trace)
logfile_log_level: 'warn'             # default Warn, options (off, error, warn, info, debug, trace)
logfile_max_count: 10                 # maximum number of log files to keep
logfile_max_size : 20                 # maximum size per logfile in MiB

# Low noise log patterns
console_log_pattern: "{({d(%H:%M:%S)} [{l}]):16.16} {m}{n}"
logfile_log_pattern: "{({d(%Y-%m-%d %H:%M:%S)} [{l}]):26.26} {m}{n}"
